# RStudio user files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Ignore large raw data
data/raw/

# Ignore heavy output subfolders (maps, predictions, tables)
outputs/maps/
outputs/predictions/
outputs/tables/

# System files
.DS_Store
Thumbs.db